section {
    padding: 0rem 2rem;
    max-width: 1200px;
}
.home {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    font-family: var(--second-font);
    color: var(--body-font);
    background-color: var(--background);
}
.hero {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 12px;
    padding: 2rem;
}
.hero-image {
    max-width: 500px;
    width: 50%;
    margin: 0;
    animation: float 4s ease-in-out infinite;
}
@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-70px); }
    100% { transform: translateY(0); }
}
.hero h2 {
    font-family: var(--second-font);
    font-size: 4.5rem;
    color: var(--body-text);
    margin-bottom: 0.5rem;
}
.hero p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 1.5rem;
}
.wallet-btn {
    background-color: var(--secondary);
    color: #e6f0ec;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: 1px solid #333;
    border-right: 4px var(--body-text) solid;
    border-bottom: 4px var(--body-text) solid;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.wallet-btn:hover {
    background-color: var(--border);
}
.info {
    background-color: var(--primary);
    padding: 4rem 2rem;
    text-align: center;
    margin-bottom: 2rem;
}
.info h2 {
    font-size: 3rem;
}
.features-grid {
    padding-top: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    margin-bottom: 4rem;
}
.features-card {
    background: var(--secondary);
    padding: 2rem;
    border-radius: 16px;
    border: 1px solid var(--body-text);
    border-right: 4px solid;
    border-bottom: 4px solid;
    box-shadow: 0 40px 50px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;
    height: 250px;
}
.features-card:hover {
    transform: translateY(-5px);
}
.dashboard h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #333;
}
.dashboard p {
    margin-bottom: 2rem;
    color: #444;
    font-weight: bold;
}
.proposals {
    display: grid;
    /* flex-direction: column; */
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}