.navbar {
    font-family: var(--second-font);
    background-color: var(--secondary);
    border-bottom: 5px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    border-radius: 8px;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0.3rem 1.5rem;
}

/* Logo styling */
.navbar .logo {
    font-size: 2rem;
    font-weight: bold;
}

.navbar .logo a {
    color: var(--background);
    text-decoration: none;
}

/* Nav links container */
.nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* List of links */
.nav-links ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

/* Nav link anchor styles */
.navbar a {
    text-decoration: none;
    color: var(--background);
}

/* Wallet button */
.nav-btn {
    background-color: var(--primary);
    color: var(--background);
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 0.5px solid var(--secondary);
    border-right: 2px solid var(--secondary);
    border-bottom: 2px solid var(--secondary);
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-left: 1rem;
}
.nav-btn:hover {
    background-color: #ee2f55;
}
.wallet-address {
    color: var(--primary);
}

/* Hamburger icon */
.hamburger {
    display: none;
    font-size: 1.5rem;
    color: var(--background);
    cursor: pointer;
}

/* Responsive nav menu */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .nav-links.open {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        height: 100dvh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1001;
    }

    .nav-links.open ul {
        flex-direction: column;
        gap: 2rem;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .nav-links.open li a {
        color: white; /* override for visibility */
        font-size: 1.5rem;
        text-decoration: none;
        font-weight: bold;
    }

    .hamburger {
        display: block;
        position: relative;
        z-index: 1100;
        color: var(--background);
    }
}
