.navbar {
    font-family: var(--second-font);
    background-color: var(--primary);
    border-bottom: solid 5px #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    border-radius: 8px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar a {
    text-decoration: none;
    color: var(--background);
}

.navbar .logo {
    font-size: 2rem;
    font-family: var(--second-font);
    font-weight: bold;
    margin-left: 1rem;
}
.navbar .logo a {
    color: var(--background);
}
.navbar ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}
.nav-btn {
    background-color: var(--background);
    color: var(--secondary);
    padding: .75rem;
    font-size: 1rem;
    border: .5px solid var(--secondary);
    border-right: 2px solid var(--secondary);
    border-bottom: 2px solid var(--secondary);
    border-radius: 4px;
    align-items: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-right: 1rem;
}
.hamburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: var(--secondary);
        padding: 1rem;
        flex-direction: column;
        gap: 1rem;
        border: 1px solid #ccc;
        border-radius: 6px;
        z-index: 100;
    }
    .nav-links.open {
        display: flex;
    }
    .hamburger {
        display: block;
        color: var(--background);
        padding-right: 2rem;
    }
}